.UserContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
    padding: 50px;
    max-width: 850px;
    width: 850px;
    height: 350px;
    border: 2px deepskyblue dashed;
    border-radius: 20px;
}
